/* 全局背景、字体、字号、颜色、行高、页边距等 */
body{ max-width: 750px; overflow: -Scroll;overflow-x: hidden; margin:0px;color:#333;line-height:180%; background:#ccc; font: 14px/1.5 "微软雅黑",Helvetica,Tahoma,Arial,sans-serif}

/* CSS3盒子模型 */
ul,li,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,p{list-style-type:none;margin:0;padding:0;display:block;}

/* 浮动清除器 */
.clear:after{content: ''; display: table; clear: both;}

/* 公共匹配样式 */
*{outline:none;}

/* 水平居中显示 */


/* 链接 */
a:link,a:visited{text-decoration:none;}
a{color: #666;text-decoration:none;}

a img,img{border:none; vertical-align:top;}

.fl{float: left;}
.fr{float: right;}
