input{text-align: center; border: 1px solid #dd3546; width: 100%;height: 40px;margin-bottom: 18px;border-radius:8px ;font-size: 20px;background-color:#fff;box-sizing: border-box;color: #666;}
input.username{background-size:contain ;}
input.phone{background-size:contain ;}
input.yzm{width: 60%;float: left;background-size:contain ;}
input.fs{color: #fff; width: 30%;float: right;background-size:contain ;padding-left: 0rem;font-size: 20px;background-color:#dd3546;border: 0px;}
button{width: 90%;margin-left: 5%; background: url(../images/mslq.png) no-repeat;background-size:100%  ;border: 0;height: 70px;}


input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}